/* #f13c20 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav > div > div > h2 {
  margin: 0em;
  /* position: fixed; */
}

nav,
footer {
  background-color: #4056a1;
}
a,
h1,
h2,
h3,
h4,
h5 {
  color: #d79922;
  font-family: 'Fontdiner Swanky', cursive;
  text-shadow: 0.05em 0.05em #c5cbe3;
}

p {
  font-family: 'David Libre', serif;
  line-height: 1.25;
  text-indent: 0.3em;
  font-size: 1.5em;
}
.mainImage {
  height: 26em;
  max-width: 100%;
}

@media only screen and (max-width: 400px) {
  nav h2 {
    font-size: 36px;
  }
}
